@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 750px;
    padding: 0;
    margin: 0;
    background-image: url("./images/hero-certificates.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 120px 30px 30px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.4);
}

.header-logo-wrapper {
    width: 200px;
    height: 50px;
    background-image: url("./images/logo-header.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navigation {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-inline: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav-item:last-child::after {
    content: 'AA';
    font-size: 25px;
    background-color: #42ABF8;
    padding: 12px 10px;
    border-radius: 100%;
    color: white;
    position: absolute;
    top: 30px;
    left: 1720px;
    box-shadow: 4px 4px 14px 7px rgba(66, 171, 248, 0.4);
}

.nav-item:nth-child(3)::after {
    content: '';
    width: 145px;
    height: 7px;
    background-color: #42ABF8;
    position: absolute;
    top: 0px;
    left: 1310px;
}

.about-diploma {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 120px 200px;
    gap: 80px;
}

.diploma-description {
    width: 60%;
}

.diploma-description-card {
    background-color: #29394B;
    color: white;
    padding: 30px;
    border-radius: 12px;
}

.diploma-card-title {
    font-size: 33px;
    font-weight: 100;
    margin-top: 0;
}

.diploma-card-content {
    font-size: 21px;
    line-height: 1.5;
}

.after-diplona-description-card {
    font-size: 21px;
    font-style: italic;
    margin-top: 40px;
}

.diploma-img {
    padding-top: 70px;
}

.diploma-img img {
    margin-inline: 27px;
    transform: scale(1.3);
}

.diploma-img img:last-child {
    padding-bottom: 4px;
}

.diploma {
    width: 100%;
    padding: 150px;
}

.diploma-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

.diploma-text {
    background-color: #F4F5F7;
    padding: 25px;
    font-size: 21px;
}

.after-diploma-text {
    font-size: 21px;

}

.apply {
    width: 100%;
    padding-inline: 150px;
    margin-bottom: 100px;
}

.apply-img-wrapper {
    height: 350px;
    background-image: url("./images/sign-up-prompt-background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 40px 300px;
    color: white;
    text-align: center;
}

.apply-heading {
    font-size: 35px;
    font-weight: 100;
    margin-top: 10px;
}

.apply-text {
    font-size: 21px;
    line-height: 1.5;
}

.apply-btn {
    font-size: 21px;
    color: #42ABF8;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
}

.curriculum-btn {
    font-size: 21px;
    color: white;
    background: transparent;
    padding: 15px 50px;
    border: 1px solid white;
    border-radius: 10px;
}

.apply-btn,
.curriculum-btn {
    margin-inline: 60px;
}

.actions {
    margin-top: 60px;
}

.apply-btn::after {
    content: '';
    width: 2px;
    height: 40px;
    background-color: white;
    position: absolute;
    left: 920px;
}

.row {
    width: 1620px;
    height: 3px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 120px;
}

.footer-logo-wrapper {
    width: 200px;
    height: 50px;
    background-image: url("./images/logo.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-logo {
    display: flex;
    font-size: 20px;
    color: #CBCBCB;
}

.copyright {
    margin-top: 15px;
}

.footer-navigation {
    list-style: none;
    display: flex;
    font-size: 21px;
    gap: 20px;
    margin-right: 40px;
}

.footer-nav-item a {
    text-decoration: none;
    color: black;
}