@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;

    width: 1920;
    border: 1px solid black;
}

header{
    background-color: #EFEFEF;
    margin: 0;

}

/* .menu{
    font-display: inline-block;
    flex-direction: row;
} */

.menu p{
    margin: 0;
    padding: 2.5rem;
    text-align: end;
    font-size: 25px;
}

.menu p i{
    font-weight: bold;
    margin-left: 10px;
}

.header-content{
    display: flex;
    flex-direction: row;
}

.header-text{
    width: 50%;
    padding: 150px;
}

.header-text-heading,
.hello-title,
.stairs-text-heading,
.contact-heading{
    font-size: 50px;
    color: #878787;
    font-weight: 100;
    font-style: normal;
}

.header-text-heading strong,
.hello-title strong,
.stairs-text-heading strong,
.contact-heading strong{
    color: black;
}

.header-text-content,
.hello-text-content,
.stairs-text-content
.contact-message{
    /* font-family: "Raleway Itallic"; */
    color: #909090;
    font-style: italic;
    font-size: 22px;
    line-height: 1.5;
    width: 97%;
}

.header-text-content::after{
    content: '';
    height: 100px;
    width: 4px;
    /* color: black; */
    background-color: #878787;
    position: absolute;
    top: 570px;
    left: 150px;
}

.header-img{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.hello{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding: 100px;
}

.hello-img{
    width: 40%;
    margin-left: 80px;
}

.hello-text{
    width: 50%;
}

.hello-title{
    margin-left: 200px;
}

.hello-title::before{
    content: '';
    background-color: #909090;
    width: 110px;
    height: 4px;
    position: absolute;
    /* top: 30px; */
    left: 880px;
    top: 1020px;
}

.social-media{
    color: #909090;
    font-size: 40px;
}

.social-media i{
    padding: 10px;
}


.my-img{
    margin-top: 40px;
    width: 100%;
    height: 850px;
    background-image: url('./images/thumb-1.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stairs{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding: 80px;
}

.stairs-text{
    width: 29%;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
    font-style: italic;
    line-height: 1.5;
    font-size: 20px;
    /* margin-bottom: 50px; */
}

.stairs-text::after{
    content: '';
    background-color: #909090;
    height: 90px;
    width: 4px;
    position: absolute;
}

.stairs-img{
    width: 60%;
    height: 600px;
    overflow: hidden;
    /* object-fit: contain; */
    padding: 50px;
    margin-left: 120px;

}

.stairs-img img{
    max-height: 100%;
    max-width: 100%;
}

.gallery{
    margin-top: 40px;
    width: 100%;
    height: 780px;
    background-color: #EFEFEF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* vertical-align: middle; */
}

.gallery img{
    /* max-width: 50%; */
    /* max-height: 300px; */
    max-width: 28%;
    max-height: 48%;
    /* vertical-align: middle; */
    margin-top: 200px;
}

.gallery img:nth-child(2){
    transform:scale(1.3);
}
