@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    width: 1920;
}

header {
    background-color: #EFEFEF;
    margin: 0;

}

.menu p {
    margin: 0;
    padding: 2.5rem;
    text-align: end;
    font-size: 25px;
}

.menu p i {
    font-weight: bold;
    margin-left: 10px;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.header-text {
    width: 50%;
    padding: 150px;
}

.header-text-heading,
.hello-title,
.stairs-text-heading,
.contact-heading {
    font-size: 50px;
    color: #878787;
    font-weight: 100;
    font-style: normal;
}

.header-text-heading strong,
.hello-title strong,
.stairs-text-heading strong,
.contact-heading strong {
    color: black;
}

.header-text-content,
.hello-text-content,
.stairs-text-content .contact-message {
    color: #909090;
    font-style: italic;
    font-size: 22px;
    line-height: 1.5;
    width: 97%;
}

.header-text-content::after {
    content: '';
    height: 100px;
    width: 4px;
    background-color: #878787;
    position: absolute;
    top: 570px;
    left: 150px;
}

.header-img {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.hello {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding: 100px;
}

.hello-img {
    width: 40%;
    margin-left: 80px;
}

.hello-text {
    width: 50%;
}

.hello-title {
    margin-left: 200px;
}

.hello-title::before {
    content: '';
    background-color: #909090;
    width: 110px;
    height: 4px;
    position: absolute;
    left: 880px;
    top: 1020px;
}

.social-media {
    color: #909090;
    font-size: 40px;
}

.social-media i {
    padding: 10px;
}

.my-img {
    margin-top: 40px;
    width: 100%;
    height: 850px;
    background-image: url('./images/thumb-1.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stairs {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding: 80px;
}

.stairs-text {
    width: 29%;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
    font-style: italic;
    line-height: 1.5;
    font-size: 20px;
}

.stairs-text::after {
    content: '';
    background-color: #909090;
    height: 90px;
    width: 4px;
    position: absolute;
}

.stairs-img {
    width: 60%;
    height: 600px;
    overflow: hidden;
    padding: 50px;
    margin-left: 120px;
}

.stairs-img img {
    max-height: 100%;
    max-width: 100%;
}

.gallery {
    margin-top: 40px;
    width: 100%;
    height: 780px;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery img {
    max-width: 28%;
    max-height: 48%;
    margin-top: 200px;
}

.gallery img:nth-child(2) {
    transform: scale(1.3);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEFEF;
    margin-top: 40px;
    padding-inline: 15%;
}

.contact-heading {
    text-align: center;
    margin-top: 80px;
}

.contact-message {
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 70px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.input-fields {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.input-fields input {
    font-size: 20px;
    padding: 13px;
    border: 2px solid #A4A4A4;
    border-radius: 4px;
    width: 47%;
    background: transparent;
}

#message {
    font-size: 20px;
    padding: 13px;
    border: 2px solid #A4A4A4;
    border-radius: 4px;
    background: transparent;
    margin-bottom: 30px;

}

.contact-btn {
    font-size: 20px;
    padding: 13px;
    border: 2px solid black;
    border-radius: 4px;
    background: black;
    color: white;
    margin-bottom: 80px;
}

footer {
    background-color: #EFEFEF;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-style: italic;
}