@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins";
}

.services {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 65vh;
    margin: 100px auto;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.heading h1 {
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.heading h4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.heading h1 span {
    color: greenyellow;
}

.service-cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.card {
    width: 30%;

}

.image-wrapper {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.service-btn {
    color: white;
    background-color: greenyellow;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
}