
html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;

}

body{
    font-family: "Helvetica", sans-serif;
    margin: 0;

    width: 1920px;
    border: 1px solid black;
}

h1{
    font-family: "Georgia", serif;
}

section{
    width: 100%;
    padding: 70px 200px;
}

section h1{
    font-size: 85px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;

}

.header > p{
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text button{
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: #03A87C;
    height: 100px;
    padding: 20px 100px;
    border: none;
    border-radius: 5px;
    margin-top: 250px;
    /* vertical-align: bottom; */
}

.text-content{
    width: 50%;
    /* height: 100px; */
}

.text-content-heading{
    font-size: 35px;
    font-weight: bold;
}

.text-content-description{
    font-size: 31px;
}

.green{
    background-color: #CEFDE9;
}

hr{
    width: 30%;
    margin-top: 100px;
    background-color: black;
    height: 1px;
    border: none;
}