@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;

    width: 1920px;
    border: 1px solid black;
}

header{
    width: 100%;
    background-color: #F93700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.header-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 45px;
    /* margin-left: 0; */
    padding-left: 0;
    font-size: 24px;
}

.header-nav-item a{
    color: white;
    text-decoration: none;
}

.search input{
    font-size: 18px;
    padding: 15px;
    width: 550px;
}

.search i{
    background-color: #B6AFAF;
    font-size: 17px;
    padding: 19px 40px;
    position: relative;
    left: -4px;
    /* top: -1px; */
}

.account{
    font-size: 24px;
}

.account a{
    color: white;
    text-decoration: none;
    margin-left: 18px;
}

main{
    background-color: #F0E4E4;
}

.rooms{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 130px 15px 130px;
    justify-content: space-between;
}

.card-img-wrapper{
    width: 370px;
    height: 370px;
    overflow: hidden;
}

.card-img-wrapper img{
    width: 370px;
    height: 370px;
}

.card-text{
    font-size: 25px;
    text-align: center;
    color: #7A7F87;
    margin-top: 15px;
}

.collection{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 130px 10px 130px;
}

.collection-text{
    width: 35%;
}

.collection-heading{
    font-size: 50px;
    font-weight: 100;
    color: #F93700;
    margin-top: 75px;
    margin-bottom: 30px;
}

.collection-content{
    font-size: 20px;
    color: #7A7F87;
}

.shop-btn{
    font-size: 20px;
    color: white;
    background-color: #F93700;
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.collection-img{
    height: 600px;
    width: 1100px;
    background-image: url("./Media/fall-collection.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services{
    background-color: #CAC3C3;
    margin: 30px auto;
    width: 86.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 100px;
    margin-bottom: 0;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card-title{
    font-size: 25px;
    margin-bottom: 0;
    color: #484343;
}

.service-card-text{
    font-size: 23px;
    color: #605B59;
    margin-bottom: 0;
}

.service-card-wrapper{
    width: 180px;
    height: 180px;
    overflow: hidden;
    padding: 25px;
    background-color: #E6D6D6;
    border-radius: 50%;
}

.service-card-wrapper img{
    width: 130px;
    height: 130px;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F0E4E4;
    padding: 40px 130px;
    justify-content: space-between;
}

.about-us{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    gap: 30px;
}

.about-us-item a{
    text-decoration: none;
    color: #7F8080;
    font-size: 21px;
}

.about-us-item:first-child a{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #7F8080;
    font-size: 21px;
}

.contact-us{
    margin-top: 10px;
}

.call-btn{
    font-size: 21px;
    color: #454D5E;
    background-color: #CAC3C3;
    border: none;
    height: 50px;
    padding: 10px 70px;
    border-radius: 5px;
    margin-top: 15px;
}

.work-time{
    font-weight: 600;
    margin-top: 15px;
}

.social-icons{
    color: #808080;
    font-size: 45px;
    margin-right: 10px;
}

.social-icons i{
    margin-right: 10px;
}