@media screen and (max-width: 1000px) {
    .primary,
    main,
    .pair {
        display: flex;
        flex-direction: column;
    }

    .planet {
        width: 90%;
    }

    .news {
        width: 103%;
    }

    footer nav {
        flex-direction: column;
    }

    .primary header nav a,
    .primary footer nav a {
        border: none !important;
    }
}

@media screen and (max-width: 850px) {
    .planet {
        width: 60%;
    }

    .pair {
        align-items: center;
    }

    .news ul,
    .news ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}