@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Gelasio', serif;
    margin: 0;

    width: 1920px;
    border: 1px solid black;
}

header {
    height: 750px;
    background-image: url('./images/map.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo-wrapper {
    width: 65px;
    height: 60px;
    background-image: url("./images/logo.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-nav {
    color: #CDCCCC;
    margin: 0;
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    padding: 10px 20px;
}

.header-nav a {
    color: #CDCCCC;
    text-decoration: none;
    font-weight: 100;
}

.site-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical-align: middle; */
}

.site-title {
    font-size: 95px;
    margin-top: 310px;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 0;
}

.start-btn {
    color: white;
    background-color: #146594;
    border: none;
    font-size: 25px;
    padding: 15px;
    border-radius: 4px;
}


.articles {
    width: 100%;
    height: 890px;
    padding: 30px 190px;
    background-color: #E1E1E1;
}

.articles-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #53595C;
}

.travel-articles {
    width: 100%;
    display: flex;
    color: white;
}

.travel-articles h1 {
    margin: 0;
}

.left-article {
    width: 550px;
    height: 770px;
    background-image: url("./images/packing.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-article h1 {
    font-size: 38px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 2px 2px 2px #000000;

}

.up-article h1 {
    font-size: 38px;
    text-align: center;
    /* padding-top: 100px; */
    text-shadow: 2px 2px 2px #000000;

}

.down-article h1 {
    font-size: 38px;
    /* text-align: center; */
    /* padding-top: 100px; */
    text-shadow: 2px 2px 2px #000000;
    position: relative;
    left: 10px;
    top: 300px;
}

.up-article,
.down-article {
    background-image: url("./images/planning.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 960px;
    height: 385px;
}

.down-article {
    background-image: url("./images/budget.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 960px;
    height: 385px;
}
