@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    width: 1920px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px;
}

.logo-wrapper {
    padding-left: 10px;
}

.site-heading {
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
}

.site-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.site-text {
    padding: 0 10px;
    margin: 0;
}

.text-heading {
    font-size: 30px;
    font-weight: 100;
    margin-top: 0;
}

.text-content {
    font-size: 23px;
    font-weight: 100;
    line-height: 1.5;
    color: #626566;
    letter-spacing: 1px;
}

.text-list {
    list-style: none;
    font-size: 23px;
    padding-left: 0;
    margin-top: 40px;
    color: #626566;
}

.list-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.list-text h4,
.list-text p {
    margin: 0 0 6px 0;
    padding: 0;
}

.list-content:nth-child(1) {
    margin-left: -6px;
}

.list-content:nth-child(3) {
    margin-left: -10px;
}

.site-img img {
    width: 710px;
}