@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

p {
    font-family: 'Poppins', sans-serif;
}

.auto{
    border: 1px solid black;

    width: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text{
    width: 50%;
}

.icons{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 40px;
}

.icons li{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    /* margin-left: 0; */

}

.icon-item-img-wrapper{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-left: -10px;
}

.icon-item-img-wrapper img{
    width: 100%;
}

.icons-item-text{
    margin-left: 10px;
}

.icons-item-text h3{
    margin: 5px 0 0 0;
}

.icons-item-text p{
    margin-top: 0;
    padding-top: 5px;
}

.img{
    margin-left: 60px;
    width: 50%;
    height: 600px;
}

.img img{
    width: 100%;
    height: 100%;
}