@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body{
    font-family: "PT Sans", sans-serif;
    margin: 0;

    width: 1920px;
    background-color: white;
    /* border: 1px solid black; */
}

header{
    /* border: 1px solid blue; */

    width: 90%;
    height: 750px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(0,0,0,0.6), rgba(133, 122, 109, 0.1)), url("./image/computer-main.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 2px 2px #000000;
}

.header-navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.header-navbar i{
    font-size: 30px;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header-heading{
    font-size: 75px;
    margin-top: 55px;
    margin-bottom: 10px;

}

.header-text-content{
    font-size: 31px;
    text-align: center;
    width: 670px;
}

.header-button{
    font-size: 27px;
    font-weight: bold;
    color: white;

    background-color: #00D08E;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 65px;
}

.header-button:hover{
    cursor: pointer;
    background: transparent;
    padding: 10px 26px;
    border: 4px solid white;
}

.header-link{
    text-decoration: none;
    color: white;
    font-size: 26px;
    margin-top: 80px;
    font-size: 30px;
}

.header-link i{
    text-shadow: none;
    color: black;
    font-size: 21px;
    font-weight: bold;
    background-color: white;
    padding: 5px 6px 3px 5px;
    border-radius: 50%;
    margin-left: 7px;
    box-shadow: 1px 2px 2px #000000;

}

.intro,
.about{
    /* border: 1px solid blue; */

    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.intro-img{
    width: 50%;
    height: 600px;
    background-image: url("./image/tablet.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-inline: 70px 120px;
}

.intro-heading{
    font-size: 50px;
    margin-bottom: 0;
}

.intro-description{
    font-size: 30px;
    margin-top: 0;
}

.intro-list{
    list-style: none;
    font-size: 25px;
    padding-left: 0;
}

.intro-list-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;
}

.intro-list-item p{
    margin: 0 0 0 40px;
    font-size: 28px;
}

.intro-list-item i{

    color: white;
    background-color: #00D08E;
    padding: 5px 6px 0 6px;
    border-radius: 50%;
}

.about-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading,
.footer-heading{
    font-size: 50px;
}

.about-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.about-img{
    width: 50%;
    height: 600px;
    background-image: url("./image/pen.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-card{
    width: 200px;
}

.card-img-wrapper{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto;
}

.card-img-wrapper img{
    width: 120px;
    height: 120px;
}

.card-title{
    color: #15D292;
    text-align: center;
    font-size: 32px;
    margin-top: 5px;
}
